<p>
  home works!
</p>
<div class="container" >
  <div class="navbar navbar default" style="background-color: aqua; direction: rtl;">
      <div class="container">
          <ul class="nav navbar-nav">
            <!-- <li routerLinkActive="active"><a routerLink="/app/Information" style="padding-bottom: 20px; padding-top: 20px;" class="mat-icon material-icons" >מידע</a></li>
              <li routerLinkActive="active"><a routerLink="/app/Home" style="padding-bottom: 20px; padding-top: 20px;" class="mat-icon material-icons">בית</a></li>
              <li routerLinkActive="active"><a routerLink="/app/Contact" style="padding-bottom: 20px; padding-top: 20px;" class="mat-icon material-icons">צור קשר</a></li> -->
              <a routerLink="/Lands/app/home" style="padding-bottom: 20px; padding-top: 20px;" class="mat-icon material-icons" >  home</a>
              <a routerLink="/Lands/app/countries" style="padding-bottom: 20px; padding-top: 20px;" class="mat-icon material-icons">  countries</a>
          </ul>
      </div>
  </div>
</div>
<router-outlet></router-outlet>

