




<div class="container" style="background-color:aquamarine">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <a routerLink="/account" style="padding-bottom: 20px; padding-top: 20px;" class="mat-icon material-icons"> my-account </a>
      <a routerLink="/products" style="padding-bottom: 20px; padding-top: 20px;" class="mat-icon material-icons"> products </a>
      <a routerLink="/myCart" style="padding-bottom: 20px; padding-top: 20px;" class="mat-icon material-icons"> my-cart </a>
      <a routerLink="/home" style="padding-bottom: 20px; padding-top: 20px;" class="mat-icon material-icons"> home </a>

    </div>
  </div>
</div>
<router-outlet></router-outlet>

